#clock {
    grid-area: 1 / 1 / 5 / 6;
    margin: 15px;
    
    background-color: #454545;

    font-size: 4.8em;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50px;

    font-family: 'Roboto Mono', monospace;
}
