@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

#mainFrame {
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: repeat(20, 96px);
    grid-template-rows: repeat(20, 54px);
}

#weather {
    grid-area: 14 / 1 / 19 / 6;
    margin: 15px;
    width: 440px;
}